streamlit==1.44.1
pandas==2.2.3
numpy==2.2.4
faiss-cpu==1.10.0
sentence-transformers==4.0.2
requests==2.32.3
beautifulsoup4==4.13.3
chardet==5.2.0
python-dotenv
google-generativeai==0.8.4
selenium==4.31.0